<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>plotNumber</key>
		<integer>1</integer>
		<key>lat</key>
		<real>46.90012749</real>
		<key>long</key>
		<real>-121.6656709</real>
		<key>elevation</key>
		<real>1483</real>
	</dict>
	<dict>
		<key>plotNumber</key>
		<integer>2</integer>
		<key>lat</key>
		<real>46.89985</real>
		<key>long</key>
		<real>-121.66798</real>
		<key>elevation</key>
		<real>1469</real>
	</dict>
	<dict>
		<key>plotNumber</key>
		<integer>3</integer>
		<key>lat</key>
		<real>46.89985</real>
		<key>long</key>
		<real>-121.67158</real>
		<key>elevation</key>
		<real>1500</real>
	</dict>
	<dict>
		<key>plotNumber</key>
		<integer>4</integer>
		<key>lat</key>
		<real>46.89704</real>
		<key>long</key>
		<real>-121.67803</real>
		<key>elevation</key>
		<real>1547</real>
	</dict>
	<dict>
		<key>plotNumber</key>
		<integer>5</integer>
		<key>lat</key>
		<real>46.89661</real>
		<key>long</key>
		<real>-121.68150</real>
		<key>elevation</key>
		<real>1613</real>
	</dict>
	<dict>
		<key>plotNumber</key>
		<integer>6</integer>
		<key>lat</key>
		<real>46.89658</real>
		<key>long</key>
		<real>-121.68239</real>
		<key>elevation</key>
		<real>1582</real>
	</dict>
	<dict>
		<key>plotNumber</key>
		<integer>7</integer>
		<key>lat</key>
		<real>46.89693</real>
		<key>long</key>
		<real>-121.68362</real>
		<key>elevation</key>
		<real>1600</real>
	</dict>
	<dict>
		<key>plotNumber</key>
		<integer>8</integer>
		<key>lat</key>
		<real>46.89611</real>
		<key>long</key>
		<real>-121.68729</real>
		<key>elevation</key>
		<real>1647</real>
	</dict>
	<dict>
		<key>plotNumber</key>
		<integer>9</integer>
		<key>lat</key>
		<real>46.89431</real>
		<key>long</key>
		<real>-121.69288</real>
		<key>elevation</key>
		<real>1713</real>
	</dict>
	<dict>
		<key>plotNumber</key>
		<integer>10</integer>
		<key>lat</key>
		<real>46.89297</real>
		<key>long</key>
		<real>-121.69640</real>
		<key>elevation</key>
		<real>1748</real>
	</dict>
	<dict>
		<key>plotNumber</key>
		<integer>11</integer>
		<key>lat</key>
		<real>46.89089</real>
		<key>long</key>
		<real>-121.69839</real>
		<key>elevation</key>
		<real>1766</real>
	</dict>
	<dict>
		<key>plotNumber</key>
		<integer>12</integer>
		<key>lat</key>
		<real>46.89051</real>
		<key>long</key>
		<real>-121.69870</real>
		<key>elevation</key>
		<real>1776</real>
	</dict>
	<dict>
		<key>plotNumber</key>
		<integer>13</integer>
		<key>lat</key>
		<real>46.89003</real>
		<key>long</key>
		<real>-121.69933</real>
		<key>elevation</key>
		<real>1775</real>
	</dict>
	<dict>
		<key>plotNumber</key>
		<integer>14</integer>
		<key>lat</key>
		<real>46.88932</real>
		<key>long</key>
		<real>-121.70020</real>
		<key>elevation</key>
		<real>1804</real>
	</dict>
	<dict>
		<key>plotNumber</key>
		<integer>15</integer>
		<key>lat</key>
		<real>46.88959</real>
		<key>long</key>
		<real>-121.70039</real>
		<key>elevation</key>
		<real>1823</real>
	</dict>
	<dict>
		<key>plotNumber</key>
		<integer>16</integer>
		<key>lat</key>
		<real>46.88874</real>
		<key>long</key>
		<real>-121.40200</real>
		<key>elevation</key>
		<real>1810</real>
	</dict>
	<dict>
		<key>plotNumber</key>
		<integer>17</integer>
		<key>lat</key>
		<real>46.88850</real>
		<key>long</key>
		<real>-121.70433</real>
		<key>elevation</key>
		<real>1831</real>
	</dict>
</array>
</plist>
