<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>plotNumber</key>
		<integer>1</integer>
		<key>lat</key>
		<real>46.77011</real>
		<key>long</key>
		<real>-121.72317</real>
		<key>elevation</key>
		<real>1496</real>
		<key>overviewPdfFilename</key>
		<string>refl_lakes_plot_1</string>
		<key>speciesIds</key>
		<array>
			<string>grays_lovage</string>
			<string>mountain_daisy</string>
			<string>sitka_valerian</string>
		</array>
	</dict>
	<dict>
		<key>plotNumber</key>
		<integer>2</integer>
		<key>lat</key>
		<real>46.77334</real>
		<key>long</key>
		<real>-121.72337</real>
		<key>elevation</key>
		<real>1540</real>
		<key>overviewPdfFilename</key>
		<string>refl_lakes_plot_2</string>
		<key>speciesIds</key>
		<array>
			<string>bracted_lousewort</string>
			<string>magenta_paintbrush</string>
			<string>sitka_valerian</string>
			<string>subalpine_lupine</string>
		</array>
	</dict>
	<dict>
		<key>plotNumber</key>
		<integer>3</integer>
		<key>lat</key>
		<real>46.77499</real>
		<key>long</key>
		<real>-121.71969</real>
		<key>elevation</key>
		<real>1605</real>
		<key>overviewPdfFilename</key>
		<string>refl_lakes_plot_3</string>
		<key>speciesIds</key>
		<array>
			<string>american_bistort</string>
			<string>bracted_lousewort</string>
			<string>grays_lovage</string>
			<string>sitka_valerian</string>
			<string>subalpine_lupine</string>
		</array>
	</dict>
	<dict>
		<key>plotNumber</key>
		<integer>4</integer>
		<key>lat</key>
		<real>46.77573</real>
		<key>long</key>
		<real>-121.72025</real>
		<key>elevation</key>
		<real>1612</real>
		<key>overviewPdfFilename</key>
		<string>refl_lakes_plot_4</string>
		<key>speciesIds</key>
		<array>
			<string>american_bistort</string>
			<string>avalanche_lily</string>
			<string>bracted_lousewort</string>
			<string>grays_lovage</string>
			<string>magenta_paintbrush</string>
			<string>mountain_daisy</string>
			<string>sitka_valerian</string>
		</array>
	</dict>
	<dict>
		<key>plotNumber</key>
		<integer>5</integer>
		<key>lat</key>
		<real>46.777801</real>
		<key>long</key>
		<real>-121.721638</real>
		<key>elevation</key>
		<real>1650</real>
		<key>overviewPdfFilename</key>
		<string>refl_lakes_plot_5</string>
		<key>speciesIds</key>
		<array>
			<string>american_bistort</string>
			<string>avalanche_lily</string>
			<string>bracted_lousewort</string>
			<string>magenta_paintbrush</string>
			<string>mountain_daisy</string>
			<string>sitka_valerian</string>
			<string>subalpine_lupine</string>
		</array>
	</dict>
	<dict>
		<key>plotNumber</key>
		<integer>6</integer>
		<key>lat</key>
		<real>46.7817</real>
		<key>long</key>
		<real>-121.71968</real>
		<key>elevation</key>
		<real>1680</real>
		<key>overviewPdfFilename</key>
		<string>refl_lakes_plot_6</string>
		<key>speciesIds</key>
		<array>
			<string>american_bistort</string>
			<string>avalanche_lily</string>
			<string>grays_lovage</string>
			<string>magenta_paintbrush</string>
			<string>north_microseris</string>
			<string>sitka_valerian</string>
			<string>subalpine_lupine</string>
			<string>western_anemone</string>
		</array>
	</dict>
	<dict>
		<key>plotNumber</key>
		<integer>7</integer>
		<key>lat</key>
		<real>46.78403</real>
		<key>long</key>
		<real>-121.72019</real>
		<key>elevation</key>
		<real>1711</real>
		<key>overviewPdfFilename</key>
		<string>refl_lakes_plot_7</string>
		<key>speciesIds</key>
		<array>
			<string>american_bistort</string>
			<string>avalanche_lily</string>
			<string>bracted_lousewort</string>
			<string>grays_lovage</string>
			<string>magenta_paintbrush</string>
			<string>sitka_valerian</string>
			<string>subalpine_lupine</string>
		</array>
	</dict>
	<dict>
		<key>plotNumber</key>
		<integer>8</integer>
		<key>lat</key>
		<real>46.78736</real>
		<key>long</key>
		<real>-121.71936</real>
		<key>elevation</key>
		<real>1745</real>
		<key>overviewPdfFilename</key>
		<string>refl_lakes_plot_8</string>
		<key>speciesIds</key>
		<array>
			<string>american_bistort</string>
			<string>bracted_lousewort</string>
			<string>grays_lovage</string>
			<string>magenta_paintbrush</string>
			<string>north_microseris</string>
			<string>subalpine_lupine</string>
			<string>western_anemone</string>
		</array>
	</dict>
	<dict>
		<key>plotNumber</key>
		<integer>9</integer>
		<key>lat</key>
		<real>46.7919</real>
		<key>long</key>
		<real>-121.71693</real>
		<key>elevation</key>
		<real>1805</real>
		<key>overviewPdfFilename</key>
		<string>refl_lakes_plot_9</string>
		<key>speciesIds</key>
		<array>
			<string>american_bistort</string>
			<string>grays_lovage</string>
			<string>magenta_paintbrush</string>
			<string>mountain_daisy</string>
			<string>north_microseris</string>
			<string>subalpine_lupine</string>
			<string>western_anemone</string>
		</array>
	</dict>
	<dict>
		<key>plotNumber</key>
		<integer>10</integer>
		<key>lat</key>
		<real>46.79403</real>
		<key>long</key>
		<real>-121.71604</real>
		<key>elevation</key>
		<real>1840</real>
		<key>overviewPdfFilename</key>
		<string>refl_lakes_plot_10</string>
		<key>speciesIds</key>
		<array>
			<string>american_bistort</string>
			<string>grays_lovage</string>
			<string>magenta_paintbrush</string>
			<string>mountain_daisy</string>
			<string>sitka_valerian</string>
			<string>subalpine_lupine</string>
			<string>western_anemone</string>
		</array>
	</dict>
	<dict>
		<key>plotNumber</key>
		<integer>11</integer>
		<key>lat</key>
		<real>46.79654</real>
		<key>long</key>
		<real>-121.71194</real>
		<key>elevation</key>
		<real>1880</real>
		<key>overviewPdfFilename</key>
		<string>refl_lakes_plot_11</string>
		<key>speciesIds</key>
		<array>
			<string>magenta_paintbrush</string>
			<string>mountain_daisy</string>
			<string>north_microseris</string>
			<string>subalpine_lupine</string>
			<string>western_anemone</string>
		</array>
	</dict>
</array>
</plist>
