<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>american_bistort</string>
		<key>name</key>
		<string>American Bistort</string>
		<key>overviewPdfFilename</key>
		<string>refl_lakes_species_01_american_bistort</string>
	</dict>
	<dict>
		<key>id</key>
		<string>avalanche_lily</string>
		<key>name</key>
		<string>Avalanche Lily</string>
		<key>overviewPdfFilename</key>
		<string>refl_lakes_species_02_avalanche_lily</string>
	</dict>
	<dict>
		<key>id</key>
		<string>bracted_lousewort</string>
		<key>name</key>
		<string>Bracted Lousewort</string>
		<key>overviewPdfFilename</key>
		<string>refl_lakes_species_03_bracted_lousewort</string>
	</dict>
	<dict>
		<key>id</key>
		<string>grays_lovage</string>
		<key>name</key>
		<string>Gray&apos;s Lovage</string>
		<key>overviewPdfFilename</key>
		<string>refl_lakes_species_04_grays_lovage</string>
	</dict>
	<dict>
		<key>id</key>
		<string>magenta_paintbrush</string>
		<key>name</key>
		<string>Magenta Paintbrush</string>
		<key>overviewPdfFilename</key>
		<string>refl_lakes_species_05_magenta_paintbrush</string>
	</dict>
	<dict>
		<key>id</key>
		<string>mountain_daisy</string>
		<key>name</key>
		<string>Mountain Daisy</string>
		<key>overviewPdfFilename</key>
		<string>refl_lakes_species_06_mountain_daisy</string>
	</dict>
	<dict>
		<key>id</key>
		<string>north_microseris</string>
		<key>name</key>
		<string>North Microseris</string>
		<key>overviewPdfFilename</key>
		<string>refl_lakes_species_07_north_microseris</string>
	</dict>
	<dict>
		<key>id</key>
		<string>sitka_valerian</string>
		<key>name</key>
		<string>Sitka Valerian</string>
		<key>overviewPdfFilename</key>
		<string>refl_lakes_species_08_sitka_valerian</string>
	</dict>
	<dict>
		<key>id</key>
		<string>subalpine_lupine</string>
		<key>name</key>
		<string>Subalpine Lupine</string>
		<key>overviewPdfFilename</key>
		<string>refl_lakes_species_09_subalpine_lupine</string>
	</dict>
	<dict>
		<key>id</key>
		<string>western_anemone</string>
		<key>name</key>
		<string>Western Anemone</string>
		<key>overviewPdfFilename</key>
		<string>refl_lakes_species_10_western_anemone</string>
	</dict>
</array>
</plist>
